<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <condition class="ch.qos.logback.core.boolex.PropertyEqualityCondition">
        <key>NAIS_CLUSTER_NAME</key>
        <value>prod-gcp</value>
    </condition>
    <if>
        <then>
            <root level="INFO">
                <appender-ref ref="STDOUT_JSON"/>
            </root>
            <logger name="app" level="INFO"/>
            <logger name="org.apache.kafka" level="WARN"/>
            <logger name="io.confluent.kafka" level="WARN"/>
            <logger name="no.nav.paw" level="INFO"/>
            <logger name="ch.qos.logback" level="ERROR"/>
        </then>
    </if>

    <condition class="ch.qos.logback.core.boolex.PropertyEqualityCondition">
        <key>NAIS_CLUSTER_NAME</key>
        <value>dev-gcp</value>
    </condition>
    <if>
        <then>
            <root level="INFO">
                <appender-ref ref="STDOUT_JSON"/>
            </root>
            <logger name="app" level="TRACE"/>
            <logger name="org.apache.kafka" level="WARN"/>
            <logger name="io.confluent.kafka" level="WARN"/>
            <logger name="no.nav.paw" level="DEBUG"/>
            <logger name="ch.qos.logback" level="ERROR"/>
        </then>
    </if>

    <condition class="ch.qos.logback.core.boolex.IsPropertyNullCondition">
        <key>NAIS_CLUSTER_NAME</key>
    </condition>
    <if>
        <then>
            <root level="INFO">
                <appender-ref ref="STDOUT"/>
            </root>
            <logger name="app" level="TRACE"/>
            <logger name="org.apache.kafka" level="WARN"/>
            <logger name="io.confluent.kafka" level="WARN"/>
            <logger name="no.nav.paw" level="DEBUG"/>
            <logger name="ch.qos.logback" level="ERROR"/>
        </then>
    </if>
</configuration>