openapi: "3.0.3"
info:
  title: "paw_arbeidssoekerregisteret_microfrontend_toggler API"
  description: "paw_arbeidssoekerregisteret_microfrontend_toggler API"
  version: "1.0.0"
servers:
  - url: "https://microfrontend-toggle-arbeidssoekerregisteret.intern.nav.no"
    description: "Production"
  - url: "https://microfrontend-toggle-arbeidssoekerregisteret.intern.dev.nav.no"
    description: "Development"
paths:
  /api/v1/microfrontend-toggle:
    post:
      description: "Endepunkt for aktivering eller deaktivering av microfrontends"
      parameters:
        - name: "traceparent"
          in: "header"
          required: false
          description: "https://www.w3.org/TR/trace-context/#traceparent-header-field-values"
          schema:
            type: "string"
            format: "traceparent"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ToggleRequest"
        required: true
      responses:
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "202":
          description: "Accepted"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ToggleResponse"
  /internal/isAlive:
    get:
      description: "Service is alive probe"
      responses:
        "503":
          description: "Service Unavailable"
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/HealthStatus"
        "200":
          description: "OK"
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/HealthStatus"
  /internal/isReady:
    get:
      description: "Service is ready probe"
      responses:
        "503":
          description: "Service Unavailable"
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/HealthStatus"
        "200":
          description: "OK"
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/HealthStatus"
  /internal/metrics:
    get:
      description: "Prometheus metrics"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "string"
components:
  schemas:
    ToggleRequest:
      type: "object"
      properties:
        "@action":
          $ref: "#/components/schemas/ToggleAction"
        microfrontend_id:
          type: "string"
      required:
        - "@action"
        - "microfrontend_id"
      example:
        "@action": "enable"
        microfrontend_id: "aia-min-side"
    ToggleResponse:
      type: "object"
      properties:
        "@action":
          $ref: "#/components/schemas/ToggleAction"
        ident:
          type: "string"
        microfrontend_id:
          type: "string"
        sensitivitet:
          $ref: "#/components/schemas/Sensitivitet"
        "@initiated_by":
          type: "string"
      required:
        - "@action"
        - "ident"
        - "microfrontend_id"
        - "@initiated_by"
      example:
        "@action": "enable"
        ident: "01017012345"
        microfrontend_id: "aia-min-side"
        sensitivitet: "high"
        "@initiated_by": "paw"
    ToggleAction:
      type: "string"
      enum:
        - "enable"
        - "disable"
    Sensitivitet:
      type: "string"
      enum:
        - "high"
        - "substantial"
    ProblemDetails:
      type: object
      properties:
        type:
          type: "string"
        title:
          type: "string"
        status:
          type: "number"
        detail:
          type: "string"
        instance:
          type: "string"
      required:
        - type
        - title
        - status
        - detail
        - instance
      example:
        type: "about:blank"
        title: "Forbidden"
        status: 403
        detail: "Access denied"
        instance: "/api/endpoint"
    HealthStatus:
      type: "string"
      enum:
        - "UNKNOWN"
        - "HEALTHY"
        - "UNHEALTHY"
