openapi: 3.0.3
info:
  title: API Oppslag v3
  description: API for spørring på data om arbeidssøkere
  version: 3.0.0
servers:
  - url: "https://oppslag-v2-arbeidssoekerregisteret.intern.nav.no"
    description: Production
  - url: "https://oppslag-v2-arbeidssoekerregisteret.intern.dev.nav.no"
    description: Development
paths:
  /api/v3/snapshot:
    post:
      description: "Hent aggregert periode, med tilhørende opplysninger, profilering, egenvurdering og bekreftelse"
      parameters:
        - name: "traceparent"
          in: "header"
          required: false
          description: "https://www.w3.org/TR/trace-context/#traceparent-header-field-values"
          schema:
            type: "string"
            format: "traceparent"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentitetsnummerQueryRequest"
            examples:
              IDENTITETSNUMMER:
                value:
                  type: "IDENTITETSNUMMER"
                  identitetsnummer: "01017012345"
        required: true
      responses:
        "200":
          description: "OK"
          headers:
            x-trace-id:
              description: "Trace id"
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregertPeriode"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
              example:
                id: "1bbc8dee-a6d6-467a-aed7-adcc89941ebb"
                type: "urn:paw:http:kunne-ikke-tolke-forespoersel"
                status: 400
                title: "Bad Request"
                detail: "Kunne ikke tolke forespørsel"
                instance: "/api/v3/perioder"
                timestamp: "2021-01-01T12:00:00.000Z"
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
              example:
                id: "7e5e370f-d8c3-4194-b088-18b3d1b30bb0"
                type: "urn:paw:security:ugyldig-bruker"
                status: 403
                title: "Forbidden"
                detail: "Bruker er ugyldig"
                instance: "/api/v3/perioder"
                timestamp: "2021-01-01T12:00:00.000Z"
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
              example:
                id: "87385cc6-f7a7-4594-b333-5d4016e4dfd3"
                type: "urn:paw:perioder:periode-ikke-funnet"
                status: 404
                title: "Not Found"
                detail: "Ingen perioder funnet"
                instance: "/api/v3/perioder"
                timestamp: "2021-01-01T12:00:00.000Z"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
              example:
                id: "d2a4177c-6647-4a50-8459-9f81dd34ffba"
                type: "urn:paw:default:ukjent-feil"
                status: 500
                title: "Internal Server Error"
                detail: "Ukjent feil"
                instance: "/api/v3/perioder"
                timestamp: "2021-01-01T12:00:00.000Z"

  /api/v3/perioder:
    post:
      description: "Hent tidslinje av perioder, med tilhørende opplysninger, profilering, egenvurdering og bekreftelse"
      parameters:
        - name: "traceparent"
          in: "header"
          required: false
          description: "https://www.w3.org/TR/trace-context/#traceparent-header-field-values"
          schema:
            type: "string"
            format: "traceparent"
        - name: "types"
          in: "query"
          required: false
          description: "Filtrer hendelser på typer"
          schema:
            type: "array"
            items:
              $ref: "#/components/schemas/HendelseType"
        - name: "ordering"
          in: "query"
          required: false
          description: "Sorteringsrettning på tidslinjen"
          schema:
            type: "array"
            items:
              $ref: "#/components/schemas/SortOrder"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryRequest"
            examples:
              IDENTITETSNUMMER:
                value:
                  type: "IDENTITETSNUMMER"
                  identitetsnummer: "01017012345"
              PERIODER:
                value:
                  type: "PERIODER"
                  perioder: [
                    "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "3fa85f64-5717-4562-b3fc-2c963f66afa7"
                  ]
        required: true
      responses:
        "200":
          description: "OK"
          headers:
            x-trace-id:
              description: "Trace id"
              schema:
                type: "string"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Tidslinje"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
              example:
                id: "cb9e871e-e7df-4c2e-9581-fc2dd051f09e"
                type: "urn:paw:http:kunne-ikke-tolke-forespoersel"
                status: 400
                title: "Bad Request"
                detail: "Kunne ikke tolke forespørsel"
                instance: "/api/v3/tidslinjer"
                timestamp: "2021-01-01T12:00:00.000Z"
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
              example:
                id: "038503d6-dbbe-4276-afff-c60803b67c4f"
                type: "urn:paw:security:ugyldig-bruker"
                status: 403
                title: "Forbidden"
                detail: "Bruker er ugyldig"
                instance: "/api/v3/tidslinjer"
                timestamp: "2021-01-01T12:00:00.000Z"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
              example:
                id: "cc366663-11fe-43c2-a6cf-de55b592e42f"
                type: "urn:paw:default:ukjent-feil"
                status: 500
                title: "Internal Server Error"
                detail: "Ukjent feil"
                instance: "/api/v3/tidslinjer"
                timestamp: "2021-01-01T12:00:00.000Z"

components:
  schemas:
    # ---Requests ---
    SortOrder:
      type: string
      enum:
        - ASC
        - DESC
    QueryRequest:
      oneOf:
        - $ref: "#/components/schemas/PerioderQueryRequest"
        - $ref: "#/components/schemas/IdentitetsnummerQueryRequest"
      discriminator:
        propertyName: type
        mapping:
          PERIODER: "#/components/schemas/PerioderQueryRequest"
          IDENTITETSNUMMER: "#/components/schemas/IdentitetsnummerQueryRequest"
    QueryType:
      type: string
      enum:
        - PERIODER
        - IDENTITETSNUMMER
    PerioderQueryRequest:
      type: object
      properties:
        type:
          type: string
          enum:
            - PERIODER
        perioder:
          type: array
          items:
            type: string
            format: uuid
      required:
        - type
        - perioder
    IdentitetsnummerQueryRequest:
      type: object
      properties:
        type:
          type: string
          enum:
            - IDENTITETSNUMMER
        identitetsnummer:
          type: string
          format: identitetsnummer
          pattern: '^\d{11}$'
          description: Norsk identitetsnummer (11 siffer, ingen andre tegn)
      required:
        - type
        - identitetsnummer

    # --- Periode and dependencies ---
    PeriodeStartet:
      type: object
      description: Inneholder data om en startet periode
      properties:
        type:
          type: string
          enum:
            - PERIODE_STARTET_V1
        tidspunkt:
          type: string
          format: date-time
          description: Tidspunkt for endringen
        utfoertAv:
          $ref: "#/components/schemas/Bruker"
        kilde:
          type: string
          description: Navn på systemet som utførte endringen eller ble benyttet til å utføre endringen
        aarsak:
          type: string
          description: Aarasek til endringen. Feks "Flyttet ut av landet" eller lignende
        tidspunktFraKilde:
          $ref: "#/components/schemas/TidspunktFraKilde"
          description: Avvik i tid mellom kilde og register
      required:
        - type
        - tidspunkt
        - utfoertAv
        - kilde
        - aarsak

    PeriodeAvluttet:
      type: object
      description: Inneholder data om en startet periode
      properties:
        type:
          type: string
          enum:
            - PERIODE_AVSLUTTET_V1
        tidspunkt:
          type: string
          format: date-time
          description: Tidspunkt for endringen
        utfoertAv:
          $ref: "#/components/schemas/Bruker"
        kilde:
          type: string
          description: Navn på systemet som utførte endringen eller ble benyttet til å utføre endringen
        aarsak:
          type: string
          description: Aarasek til endringen. Feks "Flyttet ut av landet" eller lignende
        tidspunktFraKilde:
          $ref: "#/components/schemas/TidspunktFraKilde"
          description: Avvik i tid mellom kilde og register.
      required:
        - type
        - tidspunkt
        - utfoertAv
        - kilde
        - aarsak

    Metadata:
      type: object
      description: Inneholder metadata om en endring i arbeidssøkerregisteret
      properties:
        tidspunkt:
          type: string
          format: date-time
          description: Tidspunkt for endringen.
        utfoertAv:
          $ref: "#/components/schemas/Bruker"
        kilde:
          type: string
          description: Navn på systemet som utførte endringen eller ble benyttet til å utføre endringen
        aarsak:
          type: string
          description: Aarasek til endringen. Feks "Flyttet ut av landet" eller lignende
        tidspunktFraKilde:
          $ref: "#/components/schemas/TidspunktFraKilde"
          description: Avvik i tid mellom kilde og register.
      required:
        - tidspunkt
        - utfoertAv
        - kilde
        - aarsak

    Bruker:
      type: object
      description: Informasjon om brukeren som utførte en handling
      properties:
        type:
          $ref: "#/components/schemas/BrukerType"
        id:
          type: string
          description: Identifikator for brukeren, format avhenger av brukertype
        sikkerhetsnivaa:
          type: string
          description: Sikkerhetsnivået bruker var innlogget med ved utførelse av handlingen
      required:
        - type
        - id
    BrukerType:
      type: string
      enum:
        - SLUTTBRUKER
        - VEILEDER
        - SYSTEM
        - UDEFINERT
        - UKJENT_VERDI

    TidspunktFraKilde:
      type: object
      properties:
        tidspunkt:
          type: string
          format: date-time
          description: |
            Betydningen av tidspunktet er avhengig av avviksType.
            FORSINKELSE: Tidspunktet er tidspunktet da endringen skulle vært utført.

            SLETTET: Tidspunktet er tidspunktet da endringen ble utført(samme som selve recorden).

            TIDSPUNKT_KORRIGERT: Tidspunktet som egentlig er korrekt, feks tidspunktet da en periode skulle vært stoppet
                               eller startet
        avviksType:
          $ref: "#/components/schemas/AvviksType"
          description: Årsaken til til avvik i tid mellom kilde og register.
      required:
        - tidspunkt
        - avviksType

    AvviksType:
      type: string
      description: |
        Ukjent verdi settes aldri direkte, men brukes som standardverdi og
        for å indikere at en verdi er ukjent for mottaker av melding, dvs at
        at den er satt til en verdi som ikke er definert i Avro-skjemaet til mottaker.
      enum:
        - UKJENT_VERDI
        - FORSINKELSE
        - RETTING
        - SLETTET
        - TIDSPUNKT_KORRIGERT
      default: UKJENT_VERDI

    # --- OpplysningerOmArbeidssoeker and dependencies ---
    OpplysningerOmArbeidssoeker:
      type: object
      properties:
        type:
          type: string
          enum:
            - OPPLYSNINGER_V4
        id:
          type: string
          format: uuid
          description: Unik identifikator for opplysningene
        sendtInnAv:
          $ref: "#/components/schemas/Metadata"
        utdanning:
          $ref: "#/components/schemas/Utdanning"
        helse:
          $ref: "#/components/schemas/Helse"
        jobbsituasjon:
          $ref: "#/components/schemas/Jobbsituasjon"
        annet:
          $ref: "#/components/schemas/Annet"
      required:
        - type
        - id
        - sendtInnAv

    Utdanning:
      type: object
      description: Information about the job seeker's education background
      properties:
        nus:
          type: string
          description: NUS kode for utdanning, oversikt over NUS koder er tilgjengelig fra SSB
        bestaatt:
          $ref: "#/components/schemas/JaNeiVetIkke"
          description: |
            Bare inkludert dersom informasjonen er innhetet, feks for
            nus kode 0,1,2 og 9 gir det ikke mening å hente inn info for
            dette feltet.
        godkjent:
          $ref: "#/components/schemas/JaNeiVetIkke"
          description: |
            Bare inkludert dersom informasjonen er innhetet, feks for
            nus kode 0,1,2 og 9 gir det ikke mening å hente inn info for
            dette feltet.
      required:
        - nus

    JaNeiVetIkke:
      type: string
      description: |
        UKJENT_VERDI - Verdien er satt, men den er ikke definert i versjonen av APIet som klienten bruker.
        JA - Ja.
        NEI - Nei.
        VET_IKKE - Vet ikke.
      enum:
        - UKJENT_VERDI
        - JA
        - NEI
        - VET_IKKE
      default: UKJENT_VERDI

    Helse:
      type: object
      description: Har personen helseutfordringer som hindrer dem i å jobbe?
      properties:
        helsetilstandHindrerArbeid:
          $ref: "#/components/schemas/JaNeiVetIkke"

    Jobbsituasjon:
      type: object
      description: |
        Inneholder et sett med beskrivelser av jobbsituasjonen. Det er mulig å ha flere beskrivelser av jobbsituasjonen,
        feks kan personen være permittert og samtidig ha en deltidsjobb.
      properties:
        beskrivelser:
          type: array
          items:
            $ref: "#/components/schemas/BeskrivelseMedDetaljer"
      required:
        - beskrivelser

    BeskrivelseMedDetaljer:
      type: object
      description: Beskrivelse av et enkelt forhold som inngår i jobbsituasjonen, feks permitering eller oppsigelse
      properties:
        beskrivelse:
          $ref: "#/components/schemas/Beskrivelse"
        detaljer:
          type: object
          additionalProperties:
            type: string
          description: |
            Feltene taes bare med dersom de er er tilgjengelige, i praksis må klienter støtte å motta en tom map.
            Andre felter enn de som er definert her kan også forekomme.
            Detaljer om jobbsituasjonen. Følgende nøkler er definert:
                    Nøkkel                      -           Verdi
            gjelder_fra_dato_iso8601    -       datoen jobbsituasjonen gjelder fra (eksempel 2019-01-27)
            gjelder_til_dato_iso8601    -       datoen jobbsituasjonen gjelder til (eksempel 2019-01-27)
            stilling_styrk08            -       stillingens kode i STYRK08 (eksempel "2359"), se SSB for mer informasjon om STYRK08.
                                                Forventet for:
                                                - HAR_SAGT_OPP
                                                - HAR_BLITT_SAGT_OPP
                                                - PERMITTERT
                                                - KONKURS
                                                Kan også brukes for andre beskriverlser som er knyttet til en stilling, feks "DELTIDSJOBB_VIL_MER"
            prosent                     -       prosentandel jobbstituasjonen gjelder for (feks kombinert med 'ER_PERMITTERT' eller 'DELTIDSJOBB_VIL_MER'), eksempel "50".
            siste_dag_med_loenn_iso8601 -       Siste dag det betales lønn for (feks ved oppsigelse)(eksempel 2019-01-27).
                                                Enkelte kilder, inkludert migrering har brukt 'siste_dag_med_loen_iso8601' (en 'n'), enbefaler
                                                derfor å normalisere til 'siste_dag_med_loenn_iso8601' (to 'n') ved lesing for å fange begge verianter.
            siste_arbeidsdag_iso8601    -       Siste arbeidssdag. Ikke nødvendigvis siste dag det betales lønn for, feks ved konkurs(eksempel 2019-01-27).
      required:
        - beskrivelse
        - detaljer

    Beskrivelse:
      type: string
      description: |
        Beskrivelse av jobbsituasjonen. Følgende beskrivelser er definert:
        UKJENT_VERDI                    -       Verdien er satt, men den er ikke definert i versjonen av APIet som klienten bruker.
        UDEFINERT                       -       Verdien er ikke satt.
        HAR_SAGT_OPP                    -       Personen har sagt opp sin stilling.
        HAR_BLITT_SAGT_OPP              -       Personen har blitt sagt opp fra sin stilling.
        ER_PERMITTERT                   -       Personen er permittert.
        ALDRI_HATT_JOBB                 -       Personen har aldri hatt en jobb.
        IKKE_VAERT_I_JOBB_SISTE_2_AAR   -       Personen har ikke vært i jobb de siste 2 årene.
        AKKURAT_FULLFORT_UTDANNING      -       Personen har akkurat fullført sin utdanning.
        USIKKER_JOBBSITUASJON           -       Personen er usikker på sin jobbsituasjon.
        MIDLERTIDIG_JOBB                -       Personen har en midlertidig jobb.
        DELTIDSJOBB_VIL_MER             -       Personen har en/flere deltidsjobber, men ønsker å jobbe mer.
        NY_JOBB                         -       Personen har fått seg ny jobb.
        KONKURS                         -       Personen har mistet jobben på grunn av konkurs.
        ANNET                           -       Personen har en annen jobbsituasjon.
      enum:
        - UKJENT_VERDI
        - UDEFINERT
        - HAR_SAGT_OPP
        - HAR_BLITT_SAGT_OPP
        - ER_PERMITTERT
        - ALDRI_HATT_JOBB
        - IKKE_VAERT_I_JOBB_SISTE_2_AAR
        - AKKURAT_FULLFORT_UTDANNING
        - VIL_BYTTE_JOBB
        - USIKKER_JOBBSITUASJON
        - MIDLERTIDIG_JOBB
        - DELTIDSJOBB_VIL_MER
        - NY_JOBB
        - KONKURS
        - ANNET
      default: UKJENT_VERDI

    Annet:
      type: object
      description: Har personen andre forhold som hindrer dem i å jobbe?
      properties:
        andreForholdHindrerArbeid:
          $ref: "#/components/schemas/JaNeiVetIkke"

    # --- Profilering and dependencies ---
    Profilering:
      type: object
      description: |
        Profilering av arbeidssøker
        Inneholder informasjon som brukes til ruting av arbeidssøker til riktig veiledningstjeneste.
        Profileringen er koblet til et bestemt sett opplysninger om arbeidssøker og en bestemt periode.
        I tilfeller hvor 'opplysningerOmAbreidssøker' oppdateres til å gjelde periode vil det dukke opp en ny
        profilering knyttet til den samme 'opplysningerOmArbeidssokerId' (periodeId vil være endret).
      properties:
        type:
          type: string
          enum:
            - PROFILERING_V1
        id:
          type: string
          format: uuid
          description: Unik id for profileringen
        opplysningerOmArbeidssokerId:
          type: string
          format: uuid
          description: Unik id for OpplysningerOmArbeidssøker som profileringen tilhører
        sendtInnAv:
          $ref: "#/components/schemas/Metadata"
          description: |
            Inneholder informasjon om når profileringen ble opprettet.
            Profileringen er en automatisk prosess så 'sendtInnAv.utfoertAv' vil alltid peke på en
            'SYSTEM' bruker med id på formen '[APP_NAVN]:[VERSJON]'
        profilertTil:
          $ref: "#/components/schemas/ProfilertTil"
          description: Selve profileringsresultatet
        jobbetSammenhengendeSeksAvTolvSisteMnd:
          type: boolean
          description: Om personen har jobbet sammenhengende seks av de siste tolv månedene
        alder:
          type: integer
          description: Personens alder
      required:
        - type
        - id
        - opplysningerOmArbeidssokerId
        - sendtInnAv
        - profilertTil
        - jobbetSammenhengendeSeksAvTolvSisteMnd

    ProfilertTil:
      type: string
      description: |
        Resultatet av en profilering
        UKJENT_VERDI - Verdien er satt, men den er ikke definert i versjonen av APIet som klienten bruker.
        UDEFINERT - Ingen verdi er satt.
        ANTATT_GODE_MULIGHETER - Antatt gode muligheter for å komme i arbeid.
        ANTATT_BEHOV_FOR_VEILEDNING - Antatt behov for veiledning.
        OPPGITT_HINDRINGER - Personen har oppgitt at det finnes hindringer (helse eller annet) for å komme i arbeid.
      enum:
        - UKJENT_VERDI
        - UDEFINERT
        - ANTATT_GODE_MULIGHETER
        - ANTATT_BEHOV_FOR_VEILEDNING
        - OPPGITT_HINDRINGER
      default: UKJENT_VERDI

    # --- Egenvurdering and dependencies ---
    Egenvurdering:
      type: object
      description: Brukers egenvurdering av sin situasjon
      properties:
        type:
          type: string
          enum:
            - EGENVURDERING_V1
        id:
          type: string
          format: uuid
          description: Unik id for egenvurderingen
        profileringId:
          type: string
          format: uuid
          description: Profilering id
        sendtInnAv:
          $ref: "#/components/schemas/Metadata"
          description: Metadata om når egenvurderingen ble sendt inn og av hvem
        profilertTil:
          $ref: "#/components/schemas/ProfilertTil"
          description: Resultatet av profileringen som egenvurderingen gjelder for
        egenvurdering:
          $ref: "#/components/schemas/ProfilertTil"
      required:
        - type
        - id
        - profileringId
        - sendtInnAv
        - profilertTil
        - egenvurdering

    # --- Bekreftelse and dependencies ---
    Bekreftelse:
      type: object
      description: Bekreftelse melding
      properties:
        type:
          type: string
          enum:
            - BEKREFTELSE_V1
        id:
          type: string
          format: uuid
          description: Unik id for meldingen. Duplikater sees på som nettverkshikke eller lignende og skal trygt kunne ignoreres
        bekreftelsesloesning:
          $ref: "#/components/schemas/Bekreftelsesloesning"
          description: Hvilket løsning/system som sender meldingen
        status:
          $ref: "#/components/schemas/BekreftelsStatus"
        svar:
          $ref: "#/components/schemas/Svar"
          description: Svar fra bruker, inkludert metadata
      required:
        - type
        - id
        - bekreftelsesloesning
        - status
        - svar

    Bekreftelsesloesning:
      type: string
      enum:
        - UKJENT_VERDI
        - ARBEIDSSOEKERREGISTERET
        - DAGPENGER
        - FRISKMELDT_TIL_ARBEIDSFORMIDLING
      default: UKJENT_VERDI

    Svar:
      type: object
      properties:
        sendtInnAv:
          $ref: "#/components/schemas/Metadata"
        gjelderFra:
          type: string
          format: date-time
        gjelderTil:
          type: string
          format: date-time
        harJobbetIDennePerioden:
          type: boolean
        vilFortsetteSomArbeidssoeker:
          type: boolean
      required:
        - sendtInnAv
        - gjelderFra
        - gjelderTil
        - harJobbetIDennePerioden
        - vilFortsetteSomArbeidssoeker

    BekreftelsStatus:
      type: string
      description: Angir om dette er en gyldig bekreftelse
      enum:
        - "GYLDIG"
        - "UVENTET_KILDE"
        - "UTENFOR_PERIODE"

    # --- PaaVegneAvStart / Stopp ---
    PaaVegneAvStart:
      type: object
      properties:
        type:
          type: string
          enum:
            - PAA_VEGNE_AV_START_V1
        periodeId:
          type: string
          format: uuid
          description: UUID for perioden som meldingen gjelder, hentes fra Periode topic eller oppslags api
        bekreftelsesloesning:
          $ref: "#/components/schemas/Bekreftelsesloesning"
          description: Hvilket løsning/system som sender meldingen
        intervalMS:
          type: integer
          format: int64
          description: >
            Interval for bekreftelse i millisekunder.
            Denne gir registeret et hint om hvor ofte løsningen vil sende meldinger,
            registeret vil ikke gjøre noe når fristen utløper.
        graceMS:
          type: integer
          format: int64
          description: >
            Grace periode i millisekunder.
            Hvor lenge den som sender bekreftelse på vegne av arbeidssøker venter etter at intervallet er utløpt før den
            terminerer sine tjenester og stopper bekreftelse på vegne av arbeidssøker. Feks før dagpengene stoppes og
            og dagpengeløsningen stopper bekreftelse på vegne av arbeidssøker.
            Dette brukes av registeret for å å kunne oppdage 'døde' klienter, men har ingen funksjonell betydning.
      required:
        - type
        - periodeId
        - bekreftelsesloesning
        - handling
        - intervalMS
        - graceMS

    PaaVegneAvStopp:
      type: object
      properties:
        type:
          type: string
          enum:
            - PAA_VEGNE_AV_STOPP_V1
        periodeId:
          type: string
          format: uuid
          description: UUID for perioden som meldingen gjelder, hentes fra Periode topic eller oppslags api
        bekreftelsesloesning:
          $ref: "#/components/schemas/Bekreftelsesloesning"
          description: Hvilket løsning/system som sender meldingen
        fristBrutt:
          type: boolean
          default: false
          description: >
            Angir om grunnen til stopp meldingen er at brukeren har brutt fristen i det eksterne systemet.
            Dersom denne er satt til true og fristene som ble meldt inn i start meldingen er like eller lenger enn
            registerets egne frister vil arbeidssøkerperioden bli stoppet umidelbart.
      required:
        - type
        - periodeId
        - bekreftelsesloesning

    #--- Tidslinje med dependencies ---
    HendelseType:
      type: string
      enum:
        - "PERIODE_STARTET_V1"
        - "PERIODE_AVSLUTTET_V1"
        - "OPPLYSNINGER_V4"
        - "PROFILERING_V1"
        - "EGENVURDERING_V1"
        - "BEKREFTELSE_V1"
        - "PAA_VEGNE_AV_START_V1"
        - "PAA_VEGNE_AV_STOPP_V1"

    Hendelse:
      oneOf:
        - $ref: "#/components/schemas/PeriodeStartet"
        - $ref: "#/components/schemas/PeriodeAvluttet"
        - $ref: "#/components/schemas/OpplysningerOmArbeidssoeker"
        - $ref: "#/components/schemas/Profilering"
        - $ref: "#/components/schemas/Egenvurdering"
        - $ref: "#/components/schemas/Bekreftelse"
        - $ref: "#/components/schemas/PaaVegneAvStart"
        - $ref: "#/components/schemas/PaaVegneAvStopp"
      discriminator:
        propertyName: type
        mapping:
          PERIODE_STARTET_V1: "#/components/schemas/PeriodeStartet"
          PERIODE_AVSLUTTET_V1: "#/components/schemas/PeriodeAvluttet"
          OPPLYSNINGER_V4: "#/components/schemas/OpplysningerOmArbeidssoeker"
          PROFILERING_V1: "#/components/schemas/Profilering"
          EGENVURDERING_V1: "#/components/schemas/Egenvurdering"
          BEKREFTELSE_V1: "#/components/schemas/Bekreftelse"
          PAA_VEGNE_AV_START_V1: "#/components/schemas/PaaVegneAvStart"
          PAA_VEGNE_AV_STOPP_V1: "#/components/schemas/PaaVegneAvStopp"

    Tidslinje:
      description: Tidslinje for en Arbeidssøkerperiode
      type: object
      properties:
        periodeId:
          type: string
          format: uuid
          description: UUID for perioden som tidslinjen gjelder
        identitetsnummer:
          type: string
          description: Identitetsnummer for arbeidssøker, fødselsnummer eller d-nummer
        startet:
          type: string
          format: date-time
          description: Starttidspunkt for perioden
        avsluttet:
          type: string
          format: date-time
          description: Avslutningstidspunkt for perioden, ikke satt dersom perioden er pågående
        hendelser:
          type: array
          items:
            $ref: "#/components/schemas/Hendelse"
      required:
        - periodeId
        - identitetsnummer
        - startet
        - hendelser

    # --- Aggregert periode med dependencies ---
    AggregertPeriode:
      type: object
      description: |
        En periode er en tidsperiode hvor en bruker har vært registrert som arbeidssøker.
        En bruker kan ha flere perioder, og en periode kan være pågående eller avsluttet.
        En periode er pågående dersom "avsluttet" er 'null' (ikke satt).
      properties:
        id:
          type: string
          format: uuid
          description: |
            Unik identifikator for perioden.
            Annen data knyttet til perioden kan lagres i andre systemer med denne som nøkkel.
            Opplysninger som hentes inn fra arbeidssøkeren vil være knyttet til denne perioden,
            det samme gjelder profileringsresultater.
        identitetsnummer:
          type: string
          description: Inneholder informasjon om hvem perioden tilhører (fødselsnummer eller d-nummer)
        startet:
          $ref: "#/components/schemas/PeriodeStartet"
          description: Inneholder informasjon om når perioden startet og hvem som startet den
        avsluttet:
          $ref: "#/components/schemas/PeriodeAvluttet"
          description: |
            Dersom det er en pågående periode, vil denne være 'null'. Er den ikke 'null', er perioden avsluttet.
            Inneholder informasjon om når perioden ble avsluttet og hvem som avsluttet den
        opplysning:
          $ref: "#/components/schemas/OpplysningerOmArbeidssoeker"
        profilering:
          $ref: "#/components/schemas/Profilering"
        egenvurdering:
          $ref: "#/components/schemas/Egenvurdering"
        bekreftelse:
          $ref: "#/components/schemas/Bekreftelse"
      required:
        - id
        - identitetsnummer
        - startet

    # --- Problem details med dependencies ---
    ProblemDetails:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          format: uri
        status:
          type: integer
        title:
          type: string
        detail:
          type: string
        instance:
          type: string
        timestamp:
          type: string
          format: date-time
      required:
        - id
        - type
        - status
        - title
        - instance
        - timestamp
      example:
        id: "3cd944fb-6187-41a8-91b2-b172f2baf890"
        type: "urn:paw:default:ukjent-feil"
        status: 500
        title: "Internal Server Error"
        detail: "Ukjent feil"
        instance: "/api/v3/bekreftelser"
        timestamp: "2021-01-01T12:00:00.000Z"