openapi: "3.0.3"
info:
  title: "Brukerprofiler"
  description: "API for å stillingssøk i Arbeidssøkerregisteret"
  version: "0.1.0"
servers:
  - url: "https://brukerpofiler-arbeidssoekerregisteret.intern.dev.nav.no"
    description: "Development"
paths:
  /api/v1/brukerprofil/tjenestestatus/{tjenestestatus}:
    put:
      description: "Sett om tjenesten ledige stillinger er aktiv for en gitt bruker"
      parameters:
        - name: "tjenestestatus"
          in: "path"
          required: true
          schema:
            $ref: "#/components/schemas/Tjenestestatus"
      responses:
        "204":
          description: "No Content"
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: "Forbidden - Brukeren kan ikke tilbys tjenesten ledige stillinger"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "503":
          description: "Service Unavailable"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/v1/brukerprofil/ :
    get:
      description: "Hent brukerprofil for en gitt bruker"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Brukerprofil"
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: "Forbidden - Brukeren kan ikke tilbys tjenesten ledige stillinger"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "503":
          description: "Service Unavailable"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/v1/brukerprofil/stillingssoek:
    put:
      description: "Oppdater stillingssøk for en gitt bruker"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "array"
              items:
                $ref: "#/components/schemas/Stillingssoek"
      responses:
        "204":
          description: "No Content"
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "503":
          description: "Service Unavailable"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/v1/ledigestillinger :
    get:
      description: "Hent ledige stillinger for en gitt bruker"
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 1
            minimum: 1
            example: 2
          description: "Sideindeks for paginering av resultater, starter på 1"
        - name: "pageSize"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 10
            minimum: 1
            maximum: 100
            example: 20
          description: "Antall resultater per side for paginering av resultater"
        - name: "sort"
          in: "query"
          required: false
          schema:
            type: "string"
            enum:
              - "ASC"
              - "DESC"
            default: "DESC"
            example: "ASC"
            description: "Sorteringsrekkefølge for resultatene, DESC for nyeste først, ASC for eldste først"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LedigeStillinger"
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: "Forbidden - Brukeren kan ikke tilbys tjenesten ledige stillinger"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "503":
          description: "Service Unavailable"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /api/v1/kodeverk/fylker :
    get:
      description: "Hent alle fylker og deres kommuner"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Fylke"

  /api/v1/kodeverk/styrk08 :
    get:
      description: "Hent hele STYRK-08 treet"
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/StyrkTreNode"

components:
  schemas:
    Tjenestestatus:
      description: "Status for tjenesten ledige stillinger ved status KAN_IKKE_LEVERES er det ikke mulig å aktivere tjenesten for brukeren."
      type: "string"
      enum:
        - "AKTIV"
        - "INAKTIV"
        - "OPT_OUT"
        - "KAN_IKKE_LEVERES"
    Brukerprofil:
      type: "object"
      properties:
        identitetsnummer:
          type: "string"
          example: "12345678901"
          format: "identitetsnummer"
        tjenestestatus:
          $ref: "#/components/schemas/Tjenestestatus"
        stillingssoek:
          type: "array"
          items:
            $ref: "#/components/schemas/Stillingssoek"
      required:
        - "identitetsnummer"
        - "tjenestestatus"
    Stillingssoek:
      oneOf:
        - $ref: "#/components/schemas/StedSoek"
        - $ref: "#/components/schemas/ReiseveiSoek"
      discriminator:
        propertyName: soekType
        mapping:
          STED_SOEK_V1: '#/components/schemas/StedSoek'
          REISEVEI_SOEK_V1: '#/components/schemas/ReiseveiSoek'
    StedSoek:
      type: "object"
      properties:
        soekType:
          type: "string"
          enum:
            - "STED_SOEK_V1"
        fylker:
          type: "array"
          items:
            $ref: "#/components/schemas/Fylke"
        soekeord:
          type: "array"
          items:
            type: "string"
            example: "Tryllekunstner"
        styrk08:
          type: "array"
          items:
            type: "string"
            format: "styrk08"
            example: "124"
      required:
        - "soekType"
        - "fylker"
        - "soekeord"

    Fylke:
      type: "object"
      properties:
        navn:
          type: "string"
          example: "Buskerud"
        kommuner:
          type: "array"
          items:
            $ref: "#/components/schemas/Kommune"
        fylkesnummer:
          type: "string"
          example: "46"
          format: "fylkesnummer"
      required:
        - "navn"
        - "kommuner"
    Kommune:
      type: "object"
      properties:
        navn:
          type: "string"
          example: "Bergen"
        kommunenummer:
          type: "string"
          example: "4601"
          format: "kommunenummer"
      required:
        - "navn"
        - "kommunenummer"
    Styrk:
      type: "object"
      properties:
        level:
          type: "string"
          example: "1"
          description: Level 1-4
        code:
          type: "string"
          example: "1234"
          format: "styrk08"
        name:
          type: "string"
          example: "Jordbrukere"
      required:
        - "level"
        - "code"
        - "name"
    StyrkTreNode:
      type: "object"
      properties:
        styrk:
          $ref: "#/components/schemas/Styrk"
        children:
          type: "array"
          description: Tom dersom dette er et blad i treet (styrk kode på nivå 4).
          items:
            $ref: "#/components/schemas/StyrkTreNode"
      required:
        - "styrk"
        - "children"
    ReiseveiSoek:
      type: "object"
      description: "Denne søketypen er ikke støttet ennå, og blir kanskje aldri støttet."
      properties:
        soekType:
          type: "string"
          enum:
            - "REISEVEI_SOEK_V1"
        maksAvstandKm:
          type: "integer"
          example: 42
        postnummer:
          type: "string"
          example: "5145"
          format: "postnummer"
        soekeord:
          type: "array"
          items:
            type: "string"
            example: "Tryllekunstner"
      required:
        - "soekType"
        - "maksAvstandKm"
        - "postnummer"
        - "soekeord"
    LedigeStillinger:
      type: "object"
      properties:
        sistKjoert:
          type: "string"
          format: "date-time"
          example: "2025-10-20T12:00:00Z"
        soek:
          $ref: "#/components/schemas/Stillingssoek"
        resultat:
          type: "array"
          items:
            $ref: "#/components/schemas/JobbAnnonse"
      required:
        - "sistKjoert"
        - "soek"
        - "resultat"
    JobbAnnonse:
      type: "object"
      properties:
        arbeidsplassenNoId:
          type: "string"
          format: "uuid"
          description: "Arbeidsplassen.no sin unike ID for stillingsannonsen"
        tittel:
          type: "string"
          example: "Vi du jobbe som utvikler hos oss?"
        stillingbeskrivelse:
          type: "string"
          example: "Backendutikler/Java"
        publisert:
          type: "string"
          format: "date-time"
          example: "2025-10-17T10:30:00Z"
        soeknadsfrist:
          type: "object"
          $ref: "#/components/schemas/Soeknadsfrist"
        land:
          type: "string"
          example: "Norge"
        kommune:
          type: "string"
          example: "Oslo"
        sektor:
          type: "string"
          $ref: "#/components/schemas/Sektor"
        selskap:
          type: "string"
          example: "Snedige Løsninger AS"
      required:
        - "tittel"
        - "publisert"
        - "sektor"
        - "selskap"
        - "soeknadsfrist"
        - "land"
    Soeknadsfrist:
      type: "object"
      properties:
        raw:
          type: "string"
          description: "Tekst fra datasettet for egenskapen søknadsfrist"
          example: "Her kan det stå hva som helst dersom fristType er Ukjent"
        fristType:
          type: string
          description: "Hvilken type frist er det"
          enum:
            - Ukjent
            - Snarest
            - Dato
        dato:
          type: string
          format: date
          example: "2025-11-25"
          description: "Søknadsfrist, bare med dersom 'fristType' er Dato"
    Sektor:
      type: "string"
      enum:
        - "Offentlig"
        - "Privat"
        - "Ukjent"
    ProblemDetails:
      type: object
      properties:
        id:
          type: "string"
          format: "uuid"
        type:
          type: "string"
          format: "uri"
        status:
          type: "integer"
        title:
          type: "string"
        detail:
          nullable: true
          type: "string"
        instance:
          type: "string"
        timestamp:
          type: "string"
          format: "date-time"
      required:
        - id
        - type
        - status
        - title
        - detail
        - instance
        - timestamp
      example:
        id: "3cd944fb-6187-41a8-91b2-b172f2baf890"
        type: "urn:paw:default:ukjent-feil"
        status: 500
        title: "Internal Server Error"
        detail: "Ukjent feil"
        instance: "/api/v2/info"
        timestamp: "2021-01-01T12:00:00.000Z"
